.chat_wrapper {
    height: 100vh;
    box-sizing: border-box;
    width: 700px;
    padding: 0.75rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 10px;

    .messages {
        overflow-y: scroll;
        display: flex;
        flex-direction: column;
        gap: 6px;

    }

    .new_message {
        position: relative;

        input {
            padding: 10px 20px;
            border-radius: 50px;
            background-color: $lgray;
            border: none;
            box-shadow: 0 0 2px $gray;
            font-size: 1rem;
            width: 100%;
            box-sizing: border-box;
            opacity: 0.8;
            transition: all .1s ease;

            &:focus {
                outline: none;
                opacity: 1;
            }
        }

        .send_button {
            position: absolute;
            width: 20px;
            height: 20px;
            background-color: $blue;
            top: 5px;
            right: 5px;
            padding: 5px;
            border-radius: 40px;
            cursor: pointer;
            transition: all .15s ease;

            &:hover {
                transform: scale(1.03);
            }

            &:focus {
                transform: scale(0.98);
            }
        }


    }
}