.chat_users_wrapper {
    width: 300px;
    box-sizing: border-box;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: $llgray;
    .input_wrapper{
        width: 100%;
    }
    .found_users_wrapper{
        display: flex;
        flex-direction: column;
        position:absolute;
        top: 80px;
        background-color: white;
        box-shadow: 0 0 6px $lgray;
        gap: 4px;
        padding: 10px 4px 6px 4px;
        border-radius: 0 10px 10px 10px;
        width: 252px;
        box-sizing: border-box;
        .found_user{
            padding: 10px 14px;
            cursor: pointer;
            color: rgba(0, 0, 0, 0.7);
            &:hover{
                color: black;
                background-color: $llgray;
            }
        }
    }

    .item {
        padding: 8px;
        background-color: $lgray;
        border-radius: 6px;
        display: flex;
        align-items: center;
        gap: 6px;
        cursor: pointer;

        &:hover {
            background-color: $gray;

        }

        img {
            width: 30px;
            height: 30px;
            border-radius: 40px;
            background-color: red;
        }
    }
}